<form method="post" action="{{ path('critere_evaluation_delete', {'id': critere_evaluation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ critere_evaluation.id) }}">
    <button class="btn">Delete</button>
</form>
