<form method="post" action="{{ path('suggestion_delete', {'id': suggestion.id}) }}" onsubmit="return confirm('{{'Êtes-vous sûr de vouloir supprimer cet élément'|trans}}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ suggestion.id) }}">
    <button class="btn">{{ 'Supprimer'|trans }}</button>
</form>
