{% extends 'rh.html.twig' %}
{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>nom</th>
                <td>{{ type_contrat.nom }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ type_contrat.contenu }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
