<!DOCTYPE html>

<title>{{ 'New Livrer'|trans }}</title>

{% block body %}
    <h1>{{ 'Créer une nouvelle livraison'|trans }}</h1>

    {{ include('livrer/_form.html.twig') }}

    <a href="{{ path('livrer_index') }}">back to list</a>
{% endblock %}
