{% extends 'employe.html.twig' %}
{% block body %}
<div class="col-lg-8 mt-4 fond-7">
    <h3 class="mt-4 mb-5 text-bold">
        <i class="fa fa-money-bill mr-2"></i>
        {{ "Mes sanctions"|trans }}
    </h3>
    <table class="table table-success-light table-bordered table-hover table-striped w-100" id="liste">
        <thead>
            <tr>
                <th>Sanction</th>
                <th>Date de création</th>
            </tr>
        </thead>
        <tbody>
            {% for sanction in sanctions %}
            <tr>
                <td>{{ sanction.typeSanction.nom }}</td>
                <td>{{ sanction.dateCreation ? sanction.dateCreation|date('d/m/Y') : '' }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}