{% extends
    is_granted('ROLE_ADMIN') ? 'admin.html.twig' :
    is_granted('ROLE_RH') ? 'rh.html.twig' :
    is_granted('ROLE_FINANCE') ? 'finance.html.twig' :
    is_granted('ROLE_STOCK') ? 'stock.html.twig' :
    is_granted('ROLE_LIVREUR') ? 'livreur.html.twig' :
    is_granted('ROLE_EMPLOYER') ? 'employe.html.twig' :
    'layout.html.twig'
%}
{% block paie %}active{% endblock %}
{% block heure_supplementaire %}active{% endblock %}
{% block body %}
    <div class="container mt-4 fond-7 pb-5 pt-3 px-5">
        <h4 class="text-bold mb-5">
            <i class="fa-solid fa-gears fa-lg"></i>
            {{ 'Liste des heures supplementaire'|trans }}
        </h4>
       <table class="table table-success-light table-bordered table-hover table-striped w-100" id="liste">
            <thead>
            <tr>
                <th>Matricule</th>
                <th>Durée</th>
                <th>Taux Horaire</th>
            </tr>
            </thead>
            <tbody>
            {% for heure in heures %}
                <tr>
                    <td>{{ heure.employe.matricule }}</td>
                     <td>{{ heure.duree }}</td>
                    <td>{{ heure.tauxHoraire|number_format(0,'',' ') }} FCFA</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
