{% extends 'admin.html.twig' %}
{% block title %} {{ "Choix demande explication"|trans }} - GNT Pharma {% endblock %}
{% block employe %}active{% endblock %}
{% block demande %}active{% endblock %}

{% block body %}
    <div class="container_paiement  mt-4 fond-7 text-center">
        <h3 class="mt-4 mb-5 text-bold">
            <i class="fa-solid fa-money-bill mr-2"></i>
            {{ 'Créer une demande'|trans }}
        </h3>
        <div class="row">
            <div class="col-md-12">
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <a href="{{ path('explication_new') }}">
                            <div class="p-3 rounded border border-green avoir">
                                <div class="text-green textavoir text-center py-3 rounded-top">
                                    <i class="fas fa-user fa-3x"></i>
                                </div>
                                <div class="text-bold text-green textavoir text-center py-3 rounded-bottom">
                                    {{'Individuel'|trans}}
                                </div>
                            </div>
                        </a>
                    </div>  
                </div>
            </div>
        </div>

    </div>

{% endblock %}
