{% extends 'commande.html.twig' %}
{% block title %} {{ "Commande"|trans }} - GNT Pharma {% endblock %}
{% block order %}active{% endblock %}

{% block body %}
    <h1>Nouveau Produit</h1>

    {{ include('produit/_form.html.twig') }}

    <a class="btn btn-success" href="{{ path('produit_index') }}"><i class="fa fa-undo"></i> Retour</a>
{% endblock %}
