<!DOCTYPE html>

<title>New Financement</title>

{% block body %}
    <h1>Create new Financement</h1>

    {{ include('financement/_form.html.twig') }}

    <a href="{{ path('financement_index') }}">back to list</a>
{% endblock %}
