<!DOCTYPE html>

<title>New Avoir</title>

{% block body %}
    <h1>Create new Avoir</h1>

    {{ include('avoir/_form.html.twig') }}

    <a href="{{ path('avoir_index') }}">back to list</a>
{% endblock %}
