<!DOCTYPE html>

<title>New Approvisionnement</title>

{% block body %}

    <h1>Create new Approvisionnement</h1>

    {{ include('approvisionnement/_form.html.twig') }}

    <a href="{{ path('approvisionnement_index') }}">back to list</a>
{% endblock %}
