<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body onload="print()" onafterprint="window.location.href='{{ path('contrat_index') }}'">
<div class="container-fluid">
    <div class="col-lg-8 offset-lg-2">
        <div class="row" style="border-bottom: 1px solid #039c4f;padding-bottom: 20px;">
            <div class="col-2">
                <img src="{{ asset('images/gntpharma.jpeg') }}" alt="Logo" class="w-100">
            </div>
            <div class="col-10 text-center">
                <div class="row">
                    <div class="col-12 titre text-center">
                        GNT PHARMA
                    </div>
                    <div class="col-12 text">
                        BP : 3582 Yaoundé – Cameroun, NGOUSSO
                        <br>
                        Montée Éleveur Immeuble Sainte Marie
                    </div>
                    <div class="col-12 text">
                        +237 69 71 49 4 12 / +237 67 52 47 865
                    </div>
                    <div class="col-12 text">
                        info@gntpharma-cameroun.com / www.gnt-pharma.com
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>