{% extends 'admin.html.twig' %}
{% block title %} {{ "Nouvelle banque"|trans }} - GNT Pharma {% endblock %}
{% block employe %}active{% endblock %}
{% block employe_new %}active{% endblock %}
{% block body %}


    {{ include('employe/_form.html.twig') }}
</div>

{% endblock %}
