<form method="post" action="{{ path('note_service_delete', {'id': note_service.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" style="display: inline-block;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ note_service.id) }}">
    <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
</form>
