<form method="post" action="{{ path('sanction_delete', {'id': sanction.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sanction.id) }}">
    <button class="btn">Delete</button>
</form>
