<!DOCTYPE html>

<title>Edit Sanction</title>

{% block body %}
    <h1>Edit Sanction</h1>

    {{ include('sanction/admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sanction_index') }}">back to list</a>

    {{ include('sanction/_delete_form.html.twig') }}
{% endblock %}
