<div class="row">
{{ form_start(form) }}

<div class="col-md-12 mb-4">
    {{ form_row(form.Montant, {'attr':{'placeholder':'Montant avoir *'}, 'label':false}) }}
</div>

{{ form_rest(form) }}
    <button class="btn btn-success"><i class="fa fa-save"></i> Enregistrer </button>
{{ form_end(form) }}
</div>