{% extends 'client.html.twig' %}
{% block title %} {{ 'Modification profil'|trans }} - GNT Pharma {% endblock %}
{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-8 offset-lg-2 mt-5 mb-5 pb-1 fond-7">
                <h4 class="mt-4 mb-5 text-bold">
                    <i class="fa fa-user-plus"></i>
                    {{ 'Modifier profil'|trans }}
                </h4>
                <div class="col-12">
                    {{ 'Les Champs avec * sont obligatoires'|trans }}
                </div>
                {{ include('security/security/userform.html.twig') }}
                <br/>
            </div>
        </div>
    </div>


{% endblock %}
